name: Test-macOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - '*'

jobs:
  macOS_5_2:
    name: Test macOS (5.2)
    runs-on: macOS-latest
    env: 
      DEVELOPER_DIR: /Applications/Xcode_11.6.app/Contents/Developer
    steps:
      - uses: actions/checkout@v2
      - name: macOS (5.2)
        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -scheme Easing -destination "platform=macOS" clean test | xcpretty
# macOS_5_3:
#    name: Test macOS (5.3)
#    runs-on: macOS-latest
#    env: 
#      DEVELOPER_DIR: /Applications/Xcode_12_beta.app/Contents/Developer
#    steps:
#      - uses: actions/checkout@v2
#      - name: macOS (5.3)
#        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -scheme Easing -destination "platform=macOS" clean test | xcpretty
  Catalyst:
    name: Test Catalyst 
    runs-on: macOS-latest
    env: 
      DEVELOPER_DIR: /Applications/Xcode_11.6.app/Contents/Developer
    steps:
      - uses: actions/checkout@v2
      - name: Catalyst
        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -scheme Easing -destination "platform=macOS" clean test | xcpretty
